body { 
    background: #fff;
    color: #222;
    font-family: arial,sans-serif;
  }

  .nav-bar { 
    padding-top: 1px;
  }

.nav-bar a { 
    float: right;
    margin-top: 15px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    text-decoration: none;
    z-index: 987;
  }

  .nav-bar a:hover { 
    text-decoration: underline;
  }
  #google a:hover { 
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }
  
 #user { 
    border-radius: 50%;
    margin: -9px;
    height: 32px;
    width: 32px;
    margin-left: 0!important;
    margin-right: 0!important;
    padding-right: 5px;
}

.principal { 
    text-align: center;
  }
  .principal img { 
    margin-top: 190px;
    margin-left: 150px;
 }

 .search {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  margin: 0 auto;
  height: 44px;
  width: 582px;
}

 #searchForm {
  background-color: transparent;
  border: none;
  color: rgba(0,0,0,.87);
  outline: none;
  width: 474px;
  height: 34px;
}
