body { 
    background: #fff;
    color: #222;
    font-family: arial,sans-serif;
  }

.nav-bar a { 
    float: right;
    margin-top: 15px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    text-decoration: none;
    z-index: 987;
  }

  .nav-bar a:hover { 
    text-decoration: underline;
  }
  .links { 
    z-index: 987;
    background-color: yellow;
  }

 #user { 
    margin: -7px;
    height: 32px;
    width: 32px;
    margin-left: 0!important;
    margin-right: 0!important;
}

.principal { 
    text-align: center;
  }
  .principal img { 
    margin-top: 150px;
  }