body { 
    background: #fff;
    color: #222;
    font-family: arial,sans-serif;
  }

  nav { 
    padding-top: 1px;
  }

.nav-bar a { 
    float: right;
    margin-top: 15px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    text-decoration: none;
    z-index: 987;
  }

  .nav-bar a:hover { 
    text-decoration: underline;
  }
  #google a:hover { 
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }
  
 #user { 
    border-radius: 50%;
    margin: -9px;
    height: 32px;
    width: 32px;
    margin-left: 0!important;
    margin-right: 0!important;
    padding-right: 5px;
}

.principal { 
    text-align: center;
  }
  .principal img { 
    margin-top: 160px;
  }